<div class="w-full mx-auto p-10 pt-4">
  <h2 class="text-xl font-bold mb-4 text-gray-800">Employee List</h2>
  <button
    (click)="employeeFormToggle()"
    class="bg-blue-600 text-white text-sm px-4 py-2 rounded mb-4 hover:bg-blue-700 cursor-pointer"
  >
    + Add Employee
  </button>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    @for (emp of employees; track emp._id) {
    <div class="bg-white shadow-lg rounded-lg p-4 border border-gray-200">
      <div class="flex justify-between items-center">
        <h3 class="text-base font-semibold text-gray-900">{{ emp.name }}</h3>
        <span
          class="bg-blue-100 text-blue-800 text-xs font-medium px-2.5 py-0.5 rounded"
        >
          {{ emp.position || "Software Engineer" }}
        </span>
      </div>
      <p class="text-sm text-gray-500">{{ emp.email }}</p>
      <p class="text-sm text-gray-500">{{ emp.contact }}</p>
      <p class="text-gray-600 mb-2">{{ emp.salary }}/-</p>
      <div class="flex justify-between items-center mt-2">
        <span
          class="bg-green-100 text-green-800 text-xs font-medium px-2.5 py-0.5 rounded"
        >
          {{ emp.department || "General" }}
        </span>

        <div class="flex gap-2">
          <button
            (click)="getEmployeeByIdToUpdate(emp._id!)"
            class="text-gray-500 hover:text-gray-600 bg-slate-100 hover:bg-slate-200 border border-gray-800 text-sm p-2 py-0.5 pb-0.5 rounded-sm cursor-pointer"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4 fill-current"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="#e3e3e3"
            >
              <path
                d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"
              />
            </svg>
          </button>
          <button
            (click)="getEmployeeByIdToDelete(emp._id!)"
            class="text-red-500 hover:text-red-600 bg-red-100 hover:bg-red-200 border border-red-800 text-sm p-2 py-0.5 pb-0.5 rounded-sm cursor-pointer"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4 fill-current"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="#e3e3e3"
            >
              <path
                d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
    }
  </div>
</div>

@if (employeeForm()) {
<div
  class="h-screen w-screen fixed inset-0 grid place-items-center bg-zinc-800/50 z-20 overflow-hidden"
>
  <div class="bg-slate-50 relative rounded-md min-w-120 h-fit p-2">
    <div class="flex justify-between items-center ml-3 mt-1">
      <h2 class="text-sm font-bold">Add New Employee</h2>
      <svg
        (click)="employeeFormToggle()"
        type="button"
        class="absolute top-4 right-5 h-5 w-5 cursor-pointer text-black"
        clip-rule="evenodd"
        fill-rule="evenodd"
        stroke-linejoin="round"
        stroke-miterlimit="2"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="m12 10.93 5.719-5.72c.146-.146.339-.219.531-.219.404 0 .75.324.75.749 0 .193-.073.385-.219.532l-5.72 5.719 5.719 5.719c.147.147.22.339.22.531 0 .427-.349.75-.75.75-.192 0-.385-.073-.531-.219l-5.719-5.719-5.719 5.719c-.146.146-.339.219-.531.219-.401 0-.75-.323-.75-.75 0-.192.073-.384.22-.531l5.719-5.719-5.72-5.719c-.146-.147-.219-.339-.219-.532 0-.425.346-.749.75-.749.192 0 .385.073.531.219z"
        />
      </svg>
    </div>
    <app-employee-form (onClose)="closeForm()"></app-employee-form>
  </div>
</div>
} @if (employeeEditForm()) {
<div
  class="h-screen w-screen fixed inset-0 grid place-items-center bg-zinc-800/50 z-20 overflow-hidden"
>
  <div class="bg-slate-50 relative rounded-md min-w-120 h-fit p-2">
    <div class="flex justify-between items-center ml-3 mt-1">
      <h2 class="text-sm font-bold">Edit Employee</h2>
      <svg
        (click)="employeeEditFormToggle()"
        type="button"
        class="absolute top-4 right-5 h-5 w-5 cursor-pointer text-black"
        clip-rule="evenodd"
        fill-rule="evenodd"
        stroke-linejoin="round"
        stroke-miterlimit="2"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="m12 10.93 5.719-5.72c.146-.146.339-.219.531-.219.404 0 .75.324.75.749 0 .193-.073.385-.219.532l-5.72 5.719 5.719 5.719c.147.147.22.339.22.531 0 .427-.349.75-.75.75-.192 0-.385-.073-.531-.219l-5.719-5.719-5.719 5.719c-.146.146-.339.219-.531.219-.401 0-.75-.323-.75-.75 0-.192.073-.384.22-.531l5.719-5.719-5.72-5.719c-.146-.147-.219-.339-.219-.532 0-.425.346-.749.75-.749.192 0 .385.073.531.219z"
        />
      </svg>
    </div>
    <div class="container mx-auto p-4 max-w-lg">
      <form
        #employeeEdit="ngForm"
        class="bg-white shadow-md rounded px-6 pt-2 pb-4 mb-4"
      >
        <div class="flex items-center gap-2 mb-4">
          <div class="w-1/2">
            <label class="block text-gray-700 text-sm font-bold mb-2"
              >Name
              <strong class="text-red-600 font-extrabold">*</strong></label
            >
            <input
              id="name"
              name="name"
              [(ngModel)]="employee.name"
              [required]="true"
              (input)="onInputAlphabetsOnly($event)"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              type="text"
              placeholder=""
            />
          </div>
          <div class="w-1/2">
            <label class="block text-gray-700 text-sm font-bold mb-2"
              >Email
              <strong class="text-red-600 font-extrabold">*</strong></label
            >
            <input
              id="email"
              name="email"
              [(ngModel)]="employee.email"
              [required]="true"
              pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
              (input)="onInputDigitsOnly($event)"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              type="email"
              placeholder=""
            />
          </div>
        </div>

        <div class="flex items-center gap-2 mb-4">
          <div class="w-1/2">
            <label class="block text-gray-700 text-sm font-bold mb-2"
              >Position
              <strong class="text-red-600 font-extrabold">*</strong></label
            >
            <input
              id="position"
              name="position"
              [(ngModel)]="employee.position"
              [required]="true"
              (input)="onInputAlphabetsOnly($event)"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              type="text"
              placeholder="Software Engineer"
            />
          </div>
          <div class="w-1/2">
            <label class="block text-gray-700 text-sm font-bold mb-2"
              >Department
              <strong class="text-red-600 font-extrabold">*</strong></label
            >
            <input
              id="department"
              name="department"
              [required]="true"
              [(ngModel)]="employee.department"
              (input)="onInputAlphabetsOnly($event)"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              type="text"
              placeholder="IT"
            />
          </div>
        </div>

        <div class="flex items-center gap-2 mb-4">
          <div class="w-1/2">
            <label class="block text-gray-700 text-sm font-bold mb-2"
              >Contact
              <strong class="text-red-600 font-extrabold">*</strong></label
            >
            <input
              id="contact"
              name="contact"
              [(ngModel)]="employee.contact"
              [required]="true"
              (input)="onInputDigitsOnly($event)"
              (input)="onInputNumbersOnly($event)"
              maxlength="14"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              type="text"
              placeholder="992309322933"
            />
          </div>
          <div class="w-1/2">
            <label class="block text-gray-700 text-sm font-bold mb-2"
              >Salary
              <strong class="text-red-600 font-extrabold">*</strong></label
            >
            <input
              id="salary"
              name="salary"
              [(ngModel)]="employee.salary"
              [required]="true"
              (input)="onInputDigitsOnly($event)"
              (input)="onInputNumbersOnly($event)"
              minlength="4"
              maxlength="8"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              type="text"
              placeholder="25000"
            />
          </div>
        </div>

        <div class="flex items-center justify-end">
          <button
            type="button"
            (click)="updateEmployee()"
            [disabled]="!employeeEdit.valid"
            [ngClass]="{ 'cursor-not-allowed': !employeeEdit.valid }"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline disabled:opacity-50 cursor-pointer"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
}
