<div class="w-full mx-auto p-10 pt-4">
  <h2 class="text-xl font-bold mb-4 text-gray-800">Employee List</h2>
  <div class="flex justify-between items-center mb-4">
    <div class="flex gap-4 items-center">
      <button
        (click)="employeeFormToggle()"
        class="bg-blue-600 text-white text-sm px-4 py-2 rounded hover:bg-blue-700 cursor-pointer"
      >
        Add
      </button>
      <button
        (click)="exportToCsv()"
        class="bg-green-600 text-white text-sm px-4 py-2 rounded hover:bg-green-700 flex items-center gap-2 cursor-pointer"
      >
        <svg
          class="w-5 h-5"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"
          ></path>
        </svg>
        <span>Export</span>
      </button>
    </div>
    <div class="relative w-[34%]">
      <input
        #searchInput
        (input)="filterEmployees(searchInput.value)"
        type="text"
        placeholder="Search..."
        class="w-full pl-4 pr-10 py-1 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent shadow-sm"
      />
      <div
        class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none"
      >
        <svg
          class="w-5 h-5 text-gray-400"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
          ></path>
        </svg>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
    @for (emp of employees; track emp._id) {
    <div class="bg-white shadow-lg rounded-lg p-4 border border-gray-200">
      <div class="flex justify-between items-center">
        <h3 class="text-base font-semibold text-gray-900">{{ emp.name }}</h3>
        <span
          class="bg-blue-100 text-blue-800 text-xs font-medium px-2.5 py-0.5 rounded"
        >
          {{ emp.position || "Software Engineer" }}
        </span>
      </div>
      <p class="text-sm text-gray-500">{{ emp.email }}</p>
      <p class="text-sm text-gray-500">{{ emp.contact }}</p>
      <p class="text-gray-600 mb-2">{{ emp.salary }}/-</p>
      <div class="flex justify-between items-center mt-2">
        <span
          class="bg-green-100 text-green-800 text-xs font-medium px-2.5 py-0.5 rounded"
        >
          {{ emp.department || "General" }}
        </span>

        <div class="flex gap-2">
          <button
            (click)="getEmployeeByIdToUpdate(emp._id!)"
            class="text-gray-500 hover:text-gray-600 bg-slate-100 hover:bg-slate-200 border border-gray-800 text-sm p-2 py-0.5 pb-0.5 rounded-sm cursor-pointer"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4 fill-current"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="#e3e3e3"
            >
              <path
                d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"
              />
            </svg>
          </button>
          <button
            (click)="getEmployeeByIdToDelete(emp._id!)"
            class="text-red-500 hover:text-red-600 bg-red-100 hover:bg-red-200 border border-red-800 text-sm p-2 py-0.5 pb-0.5 rounded-sm cursor-pointer"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4 fill-current"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="#e3e3e3"
            >
              <path
                d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
    }
  </div>
</div>

@if (employeeForm()) {
<div
  class="fixed inset-0 grid place-items-center bg-zinc-800/50 z-50 overflow-y-auto p-4"
>
  <div
    class="bg-slate-50 relative rounded-md w-full max-w-lg h-fit p-4 shadow-xl"
  >
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-lg font-bold text-gray-800">Add New Employee</h2>
      <svg
        (click)="employeeFormToggle()"
        class="h-6 w-6 cursor-pointer text-gray-600 hover:text-gray-900"
        viewBox="0 0 24 24"
        fill="currentColor"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M5.47 5.47a.75.75 0 011.06 0L12 10.94l5.47-5.47a.75.75 0 111.06 1.06L13.06 12l5.47 5.47a.75.75 0 11-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 01-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 010-1.06z"
        />
      </svg>
    </div>

    <app-employee-form (onClose)="closeForm()"></app-employee-form>
  </div>
</div>
} @if (employeeEditForm()) {
<div
  class="fixed inset-0 grid place-items-center bg-zinc-800/50 z-50 overflow-y-auto p-4"
>
  <div
    class="bg-slate-50 relative rounded-md w-full max-w-lg h-fit p-4 shadow-xl"
  >
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-lg font-bold text-gray-800">Edit Employee</h2>
      <svg
        (click)="employeeEditFormToggle()"
        type="button"
        class="h-6 w-6 cursor-pointer text-gray-600 hover:text-gray-900"
        clip-rule="evenodd"
        fill-rule="evenodd"
        stroke-linejoin="round"
        stroke-miterlimit="2"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="m12 10.93 5.719-5.72c.146-.146.339-.219.531-.219.404 0 .75.324.75.749 0 .193-.073.385-.219.532l-5.72 5.719 5.719 5.719c.147.147.22.339.22.531 0 .427-.349.75-.75.75-.192 0-.385-.073-.531-.219l-5.719-5.719-5.719 5.719c-.146.146-.339.219-.531.219-.401 0-.75-.323-.75-.75 0-.192.073-.384.22-.531l5.719-5.719-5.72-5.719c-.146-.147-.219-.339-.219-.532 0-.425.346-.749.75-.749.192 0 .385.073.531.219z"
        />
      </svg>
    </div>

    <form
      #employeeEdit="ngForm"
      class="bg-white shadow-sm rounded border border-gray-200 p-4"
    >
      <div class="flex flex-col md:flex-row gap-4 mb-4">
        <div class="w-full md:w-1/2">
          <label class="block text-gray-700 text-sm font-bold mb-2"
            >Name <strong class="text-red-600">*</strong></label
          >
          <input
            name="name"
            [(ngModel)]="employee.name"
            [required]="true"
            (input)="onInputAlphabetsOnly($event)"
            class="shadow-sm appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500"
            type="text"
          />
        </div>
        <div class="w-full md:w-1/2">
          <label class="block text-gray-700 text-sm font-bold mb-2"
            >Email <strong class="text-red-600">*</strong></label
          >
          <input
            name="email"
            [(ngModel)]="employee.email"
            [required]="true"
            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
            class="shadow-sm appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500"
            type="email"
          />
        </div>
      </div>

      <div class="flex flex-col md:flex-row gap-4 mb-4">
        <div class="w-full md:w-1/2">
          <label class="block text-gray-700 text-sm font-bold mb-2"
            >Position <strong class="text-red-600">*</strong></label
          >
          <input
            name="position"
            [(ngModel)]="employee.position"
            [required]="true"
            (input)="onInputAlphabetsOnly($event)"
            class="shadow-sm appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500"
            type="text"
          />
        </div>
        <div class="w-full md:w-1/2">
          <label class="block text-gray-700 text-sm font-bold mb-2"
            >Department <strong class="text-red-600">*</strong></label
          >
          <input
            name="department"
            [(ngModel)]="employee.department"
            [required]="true"
            (input)="onInputAlphabetsOnly($event)"
            class="shadow-sm appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500"
            type="text"
          />
        </div>
      </div>

      <div class="flex flex-col md:flex-row gap-4 mb-6">
        <div class="w-full md:w-1/2">
          <label class="block text-gray-700 text-sm font-bold mb-2"
            >Contact <strong class="text-red-600">*</strong></label
          >
          <input
            name="contact"
            [(ngModel)]="employee.contact"
            [required]="true"
            (input)="onInputNumbersOnly($event)"
            maxlength="14"
            class="shadow-sm appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500"
            type="text"
          />
        </div>
        <div class="w-full md:w-1/2">
          <label class="block text-gray-700 text-sm font-bold mb-2"
            >Salary <strong class="text-red-600">*</strong></label
          >
          <input
            name="salary"
            [(ngModel)]="employee.salary"
            [required]="true"
            (input)="onInputNumbersOnly($event)"
            maxlength="8"
            class="shadow-sm appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500"
            type="text"
          />
        </div>
      </div>

      <div class="flex items-center justify-end">
        <button
          type="button"
          (click)="updateEmployee()"
          [disabled]="!employeeEdit.valid"
          [ngClass]="{
            'opacity-50 cursor-not-allowed': !employeeEdit.valid,
            'hover:bg-blue-700': employeeEdit.valid
          }"
          class="bg-blue-600 text-white font-bold py-2 px-6 rounded focus:outline-none focus:shadow-outline transition duration-150"
        >
          Update Employee
        </button>
      </div>
    </form>
  </div>
</div>
}
