/* based on angular-toastr css https://github.com/Foxandxss/angular-toastr/blob/cb508fe6801d6b288d3afc525bb40fee1b101650/dist/angular-toastr.css */

/* position */
.toast-center-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.toast-top-center {
  top: 15px;
  right: 0;
  width: 100%;
}
.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-left {
  top: 12px;
  left: 12px;
}
.toast-top-right {
  top: 12px;
  right: 12px;
}
.toast-bottom-right {
  right: 12px;
  bottom: 12px;
}
.toast-bottom-left {
  bottom: 12px;
  left: 12px;
}

/* toast styles */
.toast-title {
  font-weight: bold;
  font-size: x-small;
}
.toast-message {
  word-wrap: break-word;
  font-size: x-small;
  color: #000;
}

.toast-message a:hover {
  color: #cccccc;
  text-decoration: none;
}
.toast-close-button {
  position: relative;
  top: 0px;
  right: 10px;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: black;
  /* text-shadow: 0 1px 0 #ffffff; */
  /* opacity: 0.8; */
}
.toast-close-button:hover,
.toast-close-button:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
}
/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
.toast-container {
  pointer-events: none;
  position: fixed;
  z-index: 999999;
}
.toast-container * {
  box-sizing: border-box;
}
.toast-container .ngx-toastr {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 6px 6px 6px 50px;
  width: 300px;
  border-radius: 5px;
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 24px;
  box-shadow: 0 0 12px #999999;
}
.toast-container .ngx-toastr:hover {
  box-shadow: 0 0 12px;
  opacity: 1;
  cursor: pointer;
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/info-circle.svg */
.toast-info {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7EAAAOxAGVKw4bAAABhElEQVRIx+2UMUoDURCGv1nBwiLF1hZ2gcUqBzCQRjEpxMIDBEQENyk8goV12EJE8AAWYpEN2ARyAbEICzaSE7zCws4dC0cT1zW7apHGv9qdN///z5s378E/Fg0pSghjV1PlAGgAaxaeAEMRzqOmf/crg+7AraQpPYU2kAjcAA+2XFXYAQKBS8+j29v2n0sbdAdu5SXlFghEOIya/tU3u9tT5QxIljw280y8PGKa0jPx+qx4Z+AqnYGrvP9HTf9KhDoQGIdCgzB2NYW2VT7OGMdpSjwbi5r+WIRDhXYYu1qhgR1oktcWEU5EOMnGLTcxbmGLGnagn3DUd6uqVFR5ymuFcRplDNaYTsuswDJwChyTjwemYzzXIBdRy38E7svmzzOYANWfChlnUsZgaJfoRzDOsNBAhHMgCGO3Nxs/6rsNYAvYsu8PWG5g3M96edWEfXehsGsXbcwchLFbV2UkcB21/P0yLcLz6PI216PsTrKVqzICEuN8wWIeu0yVf3qu/7F4vAIXGJ5Z0hBdZAAAAABJRU5ErkJggg==");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/times-circle.svg */
.toast-error {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7EAAAOxAGVKw4bAAAA/klEQVRIx+2UOw6CQBRFz8xYWNixB+JvA0YaS+NyqF0CW7G1tMEdqIWNxp7QWNAIFk6BMDOK8dN4E0Ly5r57Bhge/PVrCddiMgw6XC5LILBYYpSaepv43BhQCveBEMgqljYQAXsXRDwMl3Libdc7o28w7pPnKxdEvBr+LETWOhzhSW+UJr1RWq552/UOKSeAr3txA24fNLTs/KivO2lviOEwtCxPnlnqJ8fbMva0aCIhjo38jQFw+DRg8S5A21Lv6vvp2R7TKYqBKBmM+7WVophTFPNqWXsj3fsAoNQU2JPnqxpEqRlKzWrhpR+tGvf9UWGEvHvYGSAvj+u/fq8rUJOFU2kGGYoAAAAASUVORK5CYII=");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/check.svg */
.toast-success {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7EAAAOxAGVKw4bAAABBklEQVRIx+2SsUoDURBF78yuSxCRIBYSsm9XwS4L+QgtLE2byjagNnZ+QNJZW1paWYUgNjZ+wTztTUD8AEGLfW9sLIKwcY0pJOwpZ4Z75w4DVFQsP0a4HQvtFfX5j+LGww8BHC/cILFB3cOPALwycbdoLpxHPLVhlGt+A2CNwfvPLff26wRGgs3UhrXv9d3HVXbqrgC0GXwwzvzLrGUKDRT+Otf8NpFgY7r+4d/7Cu0Q6HCc+aef0hYaEOgUQOrgHoxwCgCxUE+hZwQ6mmR6X+acNKtphBtfX7JFoAuF9gl0Psl0UEa8FIkN1ptCd02BxkKXCxOeZtuuRLHQyY6N5vq6iop/zicJpEzmLX0FWwAAAABJRU5ErkJggg==");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/exclamation-triangle.svg */
.toast-warning {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7EAAAOxAGVKw4bAAABd0lEQVRIx+2UMUsDQRCFvz1ThORyRUh5iI2FEPTAyj76F0R/QyotQpBUkiKF1qnTiH06Gy0klXAnQQsbka2EWOilUMiuxV7kSCLkklgIeTCwvJnZt28WBpb4V5CBk5aBk07SYyVS0IMyelBO0iKmf30ujx48ma6VdXfr422xDrQ6ARSgovPiHEjfXgP1CKISqTXA2nC98HlBDvQpIBGpJiLVBGTEze9A+rYH6g7EAeiXqG0V9AVY264X+nMKZK9AO1j2Diq8NL7tfVTYAfHuev3dmUck/ewe6BJYFXfzVQ15c7YqoEumZgYBeZ+3zGeKtuuF16N5w4k26IapTepAfR4CRRDVGHsbxXDCVaAY1U4vYNaBroNouV7YjV34YOLHRRdEC3T9txUy2YFZBwUQtZFEzUQcogYUpl4hMsjlpZ/pST9bn5BzZJBzxng/W5d+pieDXH40JyYUn4E+muo1YxDnrtc/jjOpCfO5ATqzCeiv2fqW+Et8AxS4jCo1443FAAAAAElFTkSuQmCC");
}
.toast-container.toast-top-center .ngx-toastr,
.toast-container.toast-bottom-center .ngx-toastr {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.toast-container.toast-top-full-width .ngx-toastr,
.toast-container.toast-bottom-full-width .ngx-toastr {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}
.ngx-toastr {
  background-color: #030303;
  pointer-events: auto;
}
.toast-success {
  background-color: #fff;
  color: #21910f;
}
.toast-error {
  background-color: #fff;
  color: #ed2939;
}
.toast-info {
  background-color: #fff;
  color: #6cb4ee;
}
.toast-warning {
  background-color: #fff;
  color: #c4800b;
}
.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #000000;
  opacity: 0.4;
}
/* Responsive Design */
@media all and (max-width: 240px) {
  .toast-container .ngx-toastr.div {
    padding: 8px 8px 8px 50px;
    width: 11em;
  }
  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 241px) and (max-width: 480px) {
  .toast-container .ngx-toastr.div {
    padding: 8px 8px 8px 50px;
    width: 18em;
  }
  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 481px) and (max-width: 768px) {
  .toast-container .ngx-toastr.div {
    padding: 15px 15px 15px 50px;
    width: 25em;
  }
}
